.resultRoot {
  padding: 5% 10%;
}

.resultFormButton {
  display: flex;
  align-items: center;
}

.resultFormButton:focus{
  border-color: lightgray;
  color: initial
}

.resultTitle {
  margin-bottom: 36px;
  font-size: 48px;
}

/* DYNAMIC FORMS*/

.resultQuestionWrapper {
  margin-bottom: 4%;
}


/* ANT DESIGN */

.ant-form-item-label label{
  font-size: large;
}

.ant-form-item-control-input-content {
  height: auto;
}

.ant-form-item-control-input-content textarea.ant-input {
  line-height: 34px;
}

.ant-input-lg {
  padding: 3.5px 11px;
}