.TabelaTurmasContainer{
    display: flex;
}

.TabelaTurmasContent{
    display: flex;
    flex: 1;
    flex-direction: column;
    /*justify-content: center;**/
    align-items: center;
    background-color: #fafafa;
}

.TabelaTurmasTitle{
  padding:50px;
  display: flex;
  justify-content: flex-start;
  
}

.TabelaTurmasSearchBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0%;
}

.TabelaTurmasSearchBarContainer input{
    width: 70%;
    height: 35px;
    color: #9F9F9F;
}

.TabelaTurmasSearchBarContainer button{
    height: 35px;
    background-color: #5E5EDF;
    color: white;
    border: none;
    border-radius: 0 2px  2px 0;
}

.TabelaTurmasBox{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    background-color: white;
    max-width: min-content;
    box-shadow: 5px;
    border-radius: 5px;
    border: thin solid #707070;
}

.TabelaTurmasLabel{
    color: #9F9F9F;
    font-size: 25px;
    font-weight: 700;
     border-right: thin solid black; 
}

.LinhaTabelaTurmas{
    display: flex;
    border-top: thin solid #707070;
}

.LinhaTabelaTurmas p{
    margin-left: 40px;
    width: 300px;
    text-align: center;
  
    margin: 0%;
   
    padding: 20px;
}