.pageRoot {
  display: flex;
}

.pageBody {
  margin-top: -6%;
  width: 100%;
}

.liveForm {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  margin-top: 3%;
}

.confirmationCode {
  color: #25003C;
  font-size: large;
}