.Aula{
    background-color: #fafafa;
}

.TitleAulas{
    margin-top: 5vh;
    color: #25003c;
    text-align: center;
}

.AulaContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ListaAulas{
    margin-left: 10vw;
    margin-right: 10vw;
}