.pageBodyCurso {
  margin: 5%;
}

.pageBody h5 {
  color: gray;
}

.tabsWrapper {
  width: 80%;
  margin-top: 2%;
}

.inputWrapper {
  display: flex;
  margin-bottom: 2%;
}

.addButton {
  cursor: pointer;
  font-size: x-large;
  margin: auto;
  margin-left: 1%;
  margin-right: 1%;
}

.actionButton {
  cursor: pointer;
  font-size: large;
  margin: auto;
  margin-left: 3%;
  margin-right: 3%;
}
