.ListaTurmasContainer{
    display: flex;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
}

.TitleContainer{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 30vh;
}


.ListaTurmasTtitle{
    font-size: 60px;
    font-weight: 600;
}

.ListaTurmasLabelContainer{
    display: flex;
    color: #9F9F9F;
    font-size: x-large;
    font-weight: 800;
    align-items: center;
    margin-left: 14%;
}

.ListaTurmasDataContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: 8%;
    justify-content: center;
    
}

.ListaTurmasLabel{
    display: flex;
    align-items: center;
    width: 300px;
    padding:21px;
    padding-top: 0;
    padding-bottom: 0;
}

.LinhaListaTurmas{
    display:flex;
    border-radius: 5px;
    border: thin solid grey;
    background-color: white;
    margin-bottom: 30px;
    
}

.LinhaListaTurmas p{
    margin-left: 60px;
    width: 300px;
    text-align: center;
    margin: 0%;
    padding: 25px;
    color:#9F9F9F;
    font-size: 20px;
    font-weight: 600;
}

.LinhaListaTurmasIcons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

}

@media(max-width:780px){
    .ListaTurmasContainer{
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    
    .TitleContainer{
        height: 10vh;
        align-items: center;
    }
    
    .ListaTurmasTtitle{
        font-size: 35px;
        font-weight: 600;
        align-items: center;
    }
    
    .ListaTurmasLabelContainer{
        display: flex;
        font-size: small;
        font-weight: 800;
        margin-left: 5%;
        width: 60vw;
    }
    
    .ListaTurmasDataContainer{
        display: flex;
        flex-direction: column;
        height: min-content;
        padding-left: 2%;
        padding-right: 2%;
        justify-content: center;
        width: 100vw;
    }
    
    .ListaTurmasLabel{
        display: flex;
        align-items: center;
        padding: 1%;
    }
    
    .LinhaListaTurmas{
        display:flex;
        border-radius: 5px;
        margin: 3% 3%;
    }
    
    .LinhaListaTurmas p{
        padding: 1%;
        font-size: 15px;
        font-weight: 600;
        height: 5vh;
    }
    
    .LinhaListaTurmasIcons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }
  }