.ListaTurmasContainer{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    display: flex;
}

.ListaTurmasContent{
    width: 100%;
    height: 100%;

}

.ListaTurmasTtitle{
    font-size: 60px;
    font-weight: 600;
    margin-left: 10%;
}

.ListaTurmasLabelContainer{
    display: flex;
    color: #9F9F9F;
    font-size: x-large;
    font-weight: 800;
    align-items: center;
    margin-left: 14%;
}

.ListaTurmasDataContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: 8%;
    justify-content: center;
    
}

.ListaTurmasLabel{
    display: flex;
    align-items: center;
    width: 300px;
    padding:21px;
    padding-top: 0;
    padding-bottom: 0;
}

.LinhaListaTurmas{
    display:flex;
    border-radius: 5px;
    border: thin solid grey;
    background-color: white;
    margin-bottom: 30px;
    margin-right: 90px;
}

.LinhaListaTurmas p{
    margin-left: 60px;
    width: 300px;
    text-align: center;
    margin: 0%;
    padding: 25px;
    color:#9F9F9F;
    font-size: 20px;
    font-weight: 600;
}

.LinhaListaTurmasIcons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

}