.pageWrapper {
  min-width: 100vw;
}
.DashboardTitle {
  display: flex;
  flex: 1;
}
.DashboardContainer {
  margin: 0px 100px 0px 100px;
}
.cursosContainer {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
}
.DashboardSubTitle {
  display: flex;
  flex: 1;
  margin-left: 3%;
  margin-top: 2%;
}
.dashboardCardContainer {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.DashboardTitle {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  color: #707070;
  margin-top: 2%;
}
.TitleImg {
  display: flex;
  width: 65px;
  height: 65px;
  margin-left: 5%;
}
.slick-arrow .slick-prev::before {
  content: " ";
}

.ant-carousel .slick-next::before {
  content: " ";
}

.ant-carousel .slick-next::before {
  content: " ";
}

@media (max-width: 600px) {
  .TitleImg {
    width: 45px;
    height: 45px;
  }
  .DashboardTitle {
    margin-bottom: 0;
  }

  .pageWrapper {
    margin-left: 0%;
  }

  .DashboardContainer {
    margin: 0;
  }
}
