.pageWrapper{
  background-color: #fafafa;
  min-width: 100vw;
}
.dashboardCardContainer{
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.DashboardTitle{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  color: #707070;
  background-color: #fafafa;
  margin-bottom: -5%;
  
}
.TitleImg{
  display: flex;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border-radius: 200;
  margin-left: 5%;
  margin-right: 3%;
}

@media (max-width:600px){
  .TitleImg{
    width: 45px;
    height: 45px;
  }
  .DashboardTitle{
    margin-bottom:0
  }

  .pageWrapper{
    margin-left: 0%;
  }
  
}