.pageWrapper {
  min-width: 100vw;
}
.DashboardTitle {
  display: flex;
  flex: 1;
}
.DashboardContainer {
  margin: 0px 100px 0px 100px;
}
.DashboardSubTitle {
  display: flex;
  flex: 1;
  margin-left: 3%;
  margin-top: 2%;
}
.dashboardCardContainer {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.DashboardTitle {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  color: #707070;
  margin-top: 2%;
}
.TitleImg {
  display: flex;
  max-width: 65px;
  max-height: 65px;
  margin-left: 5%;
}
.centralize {
  display: flex;
  margin: 0% 5%;
}
.slick-arrow.slick-prev {
  font-size: 10px;
}
.carouselMobile {
  padding-left: 25px;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  display: none;
}
@media (max-width: 600px) {
  .TitleImg {
    width: 45px;
    height: 45px;
  }
  .DashboardTitle {
    margin-bottom: 0;
  }

  .pageWrapper {
    margin-left: 0%;
  }

  .DashboardContainer {
    margin: 0;
  }

  .centralize {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
  }

  .carouselMobile {
    width: 90vw;
    margin: 0px;
    padding: 0px;
  }

  .DashboardContainer {
    margin: 0px;
  }
}

@media (max-width: 850px) {
  .carouselMobile {
    margin: 0px;
    padding: 0px;
  }
}
