.Cursos {
  margin-top: 5vh;
}

.containerCursos {
  display: flex;
  flex-direction: column;
  margin-right: 5vh;
}

.title {
  display: flex;
  padding-top: 3%;
  margin-left: 4%;
  color: #25003c;
  font-size: xx-large;
}

.title span {
  margin-left: 4px;
}

.title svg {
  margin-bottom: 8px;
}

.TitleCurso {
  color: white;
  text-align: left;
}

.subTitleCurso {
  color: white;
  text-align: justify;
  font-weight: 50;
}

.CardCursoTop {
  margin: 8vh;
  margin-bottom: 0;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
  background-image: linear-gradient(to right, #290043 73%, #b11734);
  justify-content: center;
  height: 3vh;
}

.CardCursoBottom {
  padding: 5vh 5vh;
  margin: 8vh;
  margin-bottom: 3vh;
  margin-top: 0;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  display: flex;
  flex-direction: column;
  background-color: #0f1123;
  justify-content: right;
  max-height: 40vh;
}

.descriptionCurso {
  font-weight: 50;
  color: #ffffff;
}

.btnVerCurso {
  border-radius: 8px;
  height: 50px;
  width: 15vw;
  background-color: rgb(198, 53, 84);
  border: 2px solid #b11734;
  color: rgb(244, 232, 242);
  outline: none;
  border: none;
}

@media (max-width: 720px) {
  .containerCursos {
    margin: 0vh;
  }

  .TitleCursos {
    margin-top: 0vh;
    text-align: center;
  }

  .CardCursoTop {
    margin: 2vh;
    margin-bottom: 0vh;
  }

  .CardCursoBottom {
    padding: 5vh 5vh;
    margin: 2vh;
    margin-top: 0vh;
  }

  .btnVerCurso {
    margin-left: 45vw;
    height: 3vh;
    width: 25vw;
  }
}
