.Cursos {
  margin-top: 5vh;
}

.title {
  display: flex;
  padding-top: 3%;
  margin-left: 4%;
  color: #25003c;
  font-size: xx-large;
}

.title span {
  margin-left: 4px;
}

.title svg {
  margin-bottom: 8px;
}

@media (max-width: 720px) {
  .containerCursos {
    margin: 0vh;
  }

  .TitleCursos {
    margin-top: 0vh;
    text-align: center;
  }

  .CardCursoTop {
    margin: 2vh;
    margin-bottom: 0vh;
  }

  .CardCursoBottom {
    padding: 5vh 5vh;
    margin: 2vh;
    margin-top: 0vh;
  }
}
