.LinhaBoard {
    display: flex;
}

.BoardContainer {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    background-color: white;
    max-width: min-content;
    box-shadow: 5px;
    border-radius: 15px;
}


.LinhaBoard p {
    margin-left: 40px;
    width: 300px;
    text-align: center;
    border-bottom: thin groove;
    margin: 0%;
    border-width: thin;
    padding: 20px;
}


@media (max-width: 600px) {
    .BoardContainer {
        width: 100%;
    }

    .LinhaBoard p {
        width: 100%;
    }
}