.ListaAlunosLiveTitle{

    padding: 75px;
    font-size: 60px;
    font-weight: 600;
    color: #25003c;
}
.ListaALunoLiveTitle2{

    color: #9f9f9f;
    padding: 10px;
    margin-left: 5%;
    font-weight: 800;
}
.ListaTurmasContent {
    width: 70.3%;
    height: 100%;
}
.InfoContainer{
    display: flex;
    flex: 1;
    align-items: center;
    
}
.InfoContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .ListaALunoLiveTitle2 {
        color: #9f9f9f;
        padding: 10px;
        margin-left: 10%;
        font-weight: 800;
        width: 110%;
        font-size: 1.5rem;
        
    }
    .ListaAlunosLiveTitle {
        font-size: 2.1rem;
        font-weight: 600;
        color: #25003c;       
        position: relative;
        bottom: -32%;
        margin-left: -10%;
        
    }
    .ListaTurmasContainer {
        width: 100%;
        height: 130%;
        background-color: #fafafa;
        display: flex;
    }
}
/* I Pad portrait */
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
{  
    .ListaTurmasContainer {
        display: flex;
        height: 130%;
        margin-left: 0%;
        width: 100vw;
        margin-top: 12%;
    }
}
/* I Pad Landscape */
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) 
{ 
    .ListaTurmasContainer {
        display: flex;
        height: 130%;
        margin-left: 0%;
        width: 100vw;
        margin-top: 12%;
    }
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .ListaTurmasContainer {
        display: flex;
        height: 116%;
        margin-left: 0%;
        width: 100vw;
    }
}