.ListaAlunosLiveTitle{
    width: 100vw;
    padding: 75px;
    font-size: 60px;
    font-weight: 600;
    color: #25003c;
}


.ListaALunoLiveTitle2{

    color: #9f9f9f;
    padding: 10px;
    margin-left: 5%;
    font-weight: 800;



}