.Aula{
    background-color: #fafafa;
    height: 100vh;
}

.TitleVideo{
    color: white;
    text-align: center;
}

.TitleAulas{
    margin-top: 5vh;
    color: #25003c;
    margin-left: 5vw;
    text-align: left;
}

.description{
    display: flex;
    flex-direction: column;
}

.AulaVideoContainer{
    padding: 5vh 5vh;
    margin: 10vh 15vh;
    border-radius: 20px;
    display: flex;
    background-image: linear-gradient(to right, #290043 73%, #B11734);
    justify-content: center;
    flex-direction: column;
}

.videoAula{
    padding: 5%;
}

.formDuvidas{
    padding: 0vh 0vh;
    margin: 0vh 0vh;
    background-color: #97979b;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .AulaVideoContainer{
        padding: 5vh;
        margin: 5vh;
    }
  }
  