.formWrapper {
  width: 100%;
  padding-top: 6%;
  padding: 4%;
}

.newExamRoot {
  padding-right: 10%;
}

.formButton {
  display: flex;
  align-items: center;
}

.formButton:focus{
  border-color: lightgray;
  color: initial
}
