.cardsContainer{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column; 
    border-radius: 13px;
    color: white;
    padding: 30px 10px 10px 25px;
    font-weight: 600;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 10%;
}
.DashboardCardContainer{
    display: flex;
    justify-content: center;
}

@media (max-width:800px) {
    .DashboardCardContainer{
        display: flex;
        flex-direction: column;
        position: relative;
        margin:0;
    }
}
