@import "~antd/dist/antd.css";

.page-title {
  margin-top: 8%;
  text-align: center;
}

.search-input {
  margin-bottom: 5%;
}

.table-container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.addButton {
  cursor: pointer;
  font-size: x-large;
  margin: auto;
  margin-left: 1%;
  margin-right: 1%;
}

.inputWrapper {
  display: flex;
  margin-bottom: 2%;
}

@media (max-width: 600px) {
  .column-description {
    display: none;
  }
}
