.Sidebar {
}

.active {
  position: fixed;
  height: 90vh;
  width: 100vw;
  z-index: 999;
  background-color: white;
}

.headerContainer {
  height: 10vh;
  background-color: #25003c;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerContainer img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border-radius: 200;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0px;
}

.HeaderElementsContainer {
  margin: auto;
  display: flex;
  color: #d2cbcb;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.LabelContainer {
  display: flex;
  flex: 0.25;
  justify-content: space-between;
}

.aHeader {
  color: white;
}
.aHeader:hover {
  cursor: pointer;
  color: white;
}

@media (max-width: 780px) {
  .Sidebar {
    display: none;
  }
  .active {
    margin-top: 15%;
    display: block;
  }
}

@media (max-width: 1025px) {
  .LabelContainer {
    display: none;
  }
  .HeaderImg {
    display: flex;
  }
}
