.Sidebar {
}

.headerBase {
  height: 70px;
  display: flex;
  background-color: #25003c;
  align-items: center;
}

.headerAlign {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  margin: 2%;
}

.buttonHeader {
  border-radius: 8px;
  height: 50px;
  width: 120px;
  background-color: rgb(198, 53, 84);
  border: 2px solid #b11734;
  color: #ffffff;
  outline: none;
  border: none;
  font-weight: 600;
  margin: 2%;
}

.buttonHeader :focus {
  outline: none;
  border: none;
}

.headerScore {
  margin-top: 1%;
  margin-left: 2%;
  align-items: center;
  color: #ffffff;
}

.Sidebar {
}

.show {
  display: none;
}

.active {
  position: fixed;
  height: 90vh;
  width: 100vw;
  z-index: 999;
  background-color: white;
}

.headerContainer {
  height: 10vh;
  background-color: #25003c;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 99;
}

.headerContainer img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border-radius: 200;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0px;
}

.HeaderElementsContainer {
  margin: auto;
  display: flex;
  color: #d2cbcb;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.LabelContainer {
  display: flex;
  flex: 0.25;
  justify-content: space-between;
}

.aHeader {
  color: white;
}
.aHeader:hover {
  cursor: pointer;
  color: white;
}
@media (max-width: 780px) {
  .Sidebar {
    display: none;
  }
  .active {
    margin-top: 15%;
    display: block;
  }
}

@media (max-width: 785px) {
  .LabelContainer {
    display: none;
  }
  .HeaderImg {
    display: flex;
  }
  .headerLogo {
    display: none;
  }

  .headerAlign {
    display: none;
  }
}
