.timer {
    display: flex;
    border-radius: 8px;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer p {
    font-size: xx-large;
    color: black;
    font-weight: 600;
    padding-top: 1%;
}