.blocoTempoLive{
    width: 85%;
    height: auto;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 7%;
    background-image: linear-gradient(to right,#290043 73%, #B11734);
    border-radius: 8px;
    padding: 2%;
    flex-direction: column;
}

.timer{
    text-align: center;
    font-size: x-large;
    color: white;
    font-weight: 600;
}

.acessarTempoLive{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.buttonTempoLive{
    background-color: #c63756;  
    border: none;
    border-radius: 10px;
    font-size: 16pt;
    font-weight: 600;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}