.alternativeWrapper {
  display: flex;
}

.alternativeAnswerWrapper {
  display: flex;
  margin-bottom: 16px;
}

.alternative {
  height: 40px;
  border-radius: 0px;
}

.alternativeText {
  display: flex;
  align-items: center;
  padding-left: 12px;
  width: 100%;
  height: 40px;
  border-radius: 0px;
  font-size: large;
  color: #242424; 
}

.answerTitle {
  color: #808080;
  margin-bottom: 16px;
  font-style: italic;
}

.answerImage {
  width: 150px;
  height: 150px;
  border: 1px dashed lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answerImage img {
  max-width: 100%;
  max-height: 100%;
}

.questionWrapper {
  width: 100%;
  padding-top: 2%;
  margin-bottom: 2%;
  border: 1px dashed lightgray;
}

.formButtonDelete {
  display: flex;
  align-items: center;
}

.formButtonDelete:hover {
  border-color: red;
  color: red
}

.formButtonDelete:focus {
  border-color: lightgray;
  color: initial
}

.answerHeader {
  font-size: x-large;
}

.ant-form-item-label label{
  font-size: large;
}

.ant-form-item-control-input-content {
  height: auto;
}

.ant-form-item-control-input-content textarea.ant-input {
  line-height: 34px;
}

.ant-input-lg {
  padding: 3.5px 11px;
}