.ContainerNovaTurma {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 7%;
  background-color: white;
  margin-right: 10%;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  border-color: #efefef;
}
.LinhaTabelaAtividades{
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  margin-left: 3vw;
  grid-column-gap: 120px;
  margin-bottom: 1vh;
  color: grey;
  font-weight: 500;
}
.TabelaNovaTurma{
  border-top: solid;
  border-width: 2px;
  border-color:#efefef;
}
.TitulosDaTabela{
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  margin-left: 3vw;
  margin-top: 2%;
  grid-column-gap: 118px;
  color: grey;
  font-weight: 600;
  font-size: x-large;
}