.ContainerNovaTurma {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 7%;
  background-color: white;
  margin-right: 10%;
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  border-color: #efefef;
}
.LinhaTabelaNovaTurma{
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  margin-left: 3vw;
  grid-column-gap: 10vw;
  margin-bottom: 1vh;
  color: grey;
  font-weight: 500;
}
.TabelaNovaTurma{
  border-top: solid;
  border-width: 2px;
  border-color:#efefef;
}
.TitulosDaTabela{
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  margin-left: 3vw;
  margin-top: 2%;
  grid-column-gap: 10vw;
  color: grey;
  font-weight: 600;
  font-size: x-large;
}
.IconeNovaTurma{
  display: flex;
  width: 250px;
  margin: 0%;
}

@media (max-width: 800px) {
  .ContainerNovaTurma {
    width: 90vw;
    margin-left: 5%;
  }
  .TitulosDaTabela{
    display: grid;
    grid-template-columns: repeat(3, 24vw);
    font-size: small;
  }
  .LinhaTabelaNovaTurma{
    font-size: small;
    grid-template-columns: repeat(3, 15vw);
    grid-column-gap: 19vw;
  }
}